<div local-class="confirm-selection">
  <h1 local-class="message">
    <!-- Are you sure you want to add <strong> {{player.firstName}} {{player.lastName}} </strong> to your team? -->
    {{yield (hash
      player=player)}}
  </h1>
  <div local-class="footer">
    <button local-class="cancel" onclick={{action cancel}}>
      Cancel
    </button>
    <button local-class="confirm" onclick={{action confirm player}}>
      {{confirmButtonText}}
    </button>
  </div>
</div>
