<div local-class="player-list-item">
  <button local-class="button" onclick={{action addPlayer player}}>
    <div local-class="name">{{player.name}}</div>
    <div local-class="pos">{{player.pos}}</div>
    <div local-class="team">{{player.team}}</div>
    <div local-class="points">{{player.pointsLastYear}}</div>
  </button>
</div>
