<div local-class="player-list-item">
  <button local-class="button" onclick={{action playerSelected player}}>
    <div local-class="name">{{player.firstName}} {{player.lastName}}</div>
    <div local-class="pos">{{player.position}}</div>
    <div local-class="team">{{player.team}}</div>
    <div local-class="points">{{player.points}}</div>
  </button>
</div>
