{{nav-bar
  title=navTitle}}
<div local-class="body">
  <div local-class="pitch-view">
    <h2 local-class="title">
      Your squad
    </h2>
    <div local-class="pitch-container">
      <div local-class="pitch">
        <img src="/assets/images/pitch.png" local-class="pitch-image">
      </div>
      <div local-class="squad-container">
        <div local-class="position-gk">
          {{#each gk as |gk|}}
            {{#if gk.isStarting}}
              <div local-class="player-icon">
                <img src="/assets/images/player.png" local-class="player-image">
                {{gk.firstName}} {{gk.lastName}}
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div local-class="position">
            {{#each def as |def|}}
              {{#if def.isStarting}}
                <div local-class="player-icon">
                  <img src="/assets/images/player.png" local-class="player-image">
                  {{def.firstName}} {{def.lastName}}
                </div>
              {{/if}}
            {{/each}}
          </div>
          <div local-class="position">
            {{#each mid as |mid|}}
              {{#if mid.isStarting}}
                <div local-class="player-icon">
                  <img src="/assets/images/player.png" local-class="player-image">
                  {{mid.firstName}} {{mid.lastName}}
                </div>
              {{/if}}
            {{/each}}
          </div>
          <div local-class="position">
            {{#each st as |st|}}
              {{#if st.isStarting}}
                <div local-class="player-icon">
                  <img src="/assets/images/player.png" local-class="player-image">
                  {{st.firstName}} {{st.lastName}} 
                </div>
              {{/if}}
            {{/each}}
          </div>
      </div>
    </div>
    {{bench-view
      member=model
      playerSelected=removePlayer}}
  </div>
</div>
