{{nav-bar
  title=navTitle}}
<div local-class="body">
  <div local-class="pitch-view">
    <h2 local-class="title">
      Your squad
    </h2>
    <div local-class="pitch-container">
      <div local-class="pitch">
        <img src="/assets/images/pitch.png" local-class="pitch-image">
      </div>
      <div local-class="squad-container">
        <div local-class="position-gk">
          {{#each positionGk as |player|}}
            {{#if player.isStarting}}
              <div onclick={{action "playerSelected" player}} local-class="player-icon">
                <img src="/assets/images/player.png" local-class="player-image">
                {{player.firstName}} {{player.lastName}}
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div local-class="position">
            {{#each positionDef as |player|}}
              {{#if player.isStarting}}
                <div onclick={{action "playerSelected" player}} local-class="player-icon">
                  <img src="/assets/images/player.png" local-class="player-image">
                  {{player.firstName}} {{player.lastName}}
                </div>
              {{/if}}
            {{/each}}
          </div>
          <div local-class="position">
            {{#each positionMid as |player|}}
              {{#if player.isStarting}}
                <div onclick={{action "playerSelected" player}} local-class="player-icon">
                  <img src="/assets/images/player.png" local-class="player-image">
                  {{player.firstName}} {{player.lastName}}
                </div>
              {{/if}}
            {{/each}}
          </div>
          <div local-class="position">
            {{#each positionSt as |player|}}
              {{#if player.isStarting}}
                <div onclick={{action "playerSelected" player}} local-class="player-icon">
                  <img src="/assets/images/player.png" local-class="player-image">
                  {{player.firstName}} {{player.lastName}}
                </div>
              {{/if}}
            {{/each}}
          </div>
      </div>
    </div>
    <div local-class="bench-view">
      {{#each benched as |player|}}
        {{#if (eq player.position 'GK')}}
          <div onclick={{action "playerSelected" player}} local-class="player-icon">
            <img src="/assets/images/player.png" local-class="player-image">
            {{player.firstName}} {{player.lastName}}
          </div>
        {{else}}
          <div onclick={{action "playerSelected" player}} local-class="player-icon">
            <img src="/assets/images/player.png" local-class="player-image">
            {{player.firstName}} {{player.lastName}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
