{{nav-bar
  title=navTitle}}
<div local-class="body">
  <div local-class="pitch-view">
    <h2 local-class="title">
      Your squad
    </h2>
    <div local-class="pitch-container">
      <div local-class="pitch">
        <img src="/assets/images/pitch.png" local-class="pitch-image">
      </div>
      <div local-class="squad-view">
        <div local-class="squad-view-gk">
          {{#each gk as |gk|}}
            {{#if gk.isStarting}}
              <div local-class="gk">
                <img src="/assets/images/player.png" local-class="player-image">
                {{gk.name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      <div local-class="squad-view-def">
          {{#each def as |def|}}
            {{#if def.isStarting}}
              <div local-class="def">
                <img src="/assets/images/player.png" local-class="player-image">
                {{def.name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div local-class="squad-view-mid">
          {{#each mid as |mid|}}
            {{#if mid.isStarting}}
              <div local-class="mid">
                <img src="/assets/images/player.png" local-class="player-image">
                {{mid.name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div local-class="squad-view-st">
          {{#each st as |st|}}
            {{#if st.isStarting}}
              <div local-class="st">
                <img src="/assets/images/player.png" local-class="player-image">
                {{st.name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{bench-view
      member=model
      playerSelected=removePlayer}}
  </div>
</div>
